{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}<br><br>
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}

        <div class="cols">
            <div class="c2">
                <h3>Login</h3>
                <form method="post">
                    <div style="margin-bottom: 12px;">
                        <label for="inputEmail">Email:</label><br>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                               autocomplete="email" required autofocus>
                    </div>

                    <div style="margin-bottom: 12px;">
                        <label for="inputPassword">Password:</label><br>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password" required>
                    </div>

                    {% if error %}
                        <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 12px;">Sign in</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
