<div style="display: flex">
    <div style="height: 24px;
    {% if bgColor2 is defined %}
            background: linear-gradient(.25turn, {{ bgColor }}, {{ bgColor2 }});
    {% else %}
            background-color: {{ bgColor }};
    {% endif %}
    width: 100%"></div>
</div>
<div style="display: flex">
    <div class="outer" style="background-color: {{ bgColor }}"><div class="inner">{{ name|trans }}</div></div>
    <div>
        {% for row in rows %}
            <div style="display: flex; flex-wrap: wrap; margin-bottom: 12px;">
                {% for aminoCode in matrix[row]['aminos'] %}
                    {% include 'lib/_amino.html.twig' with { 'amino' : aminoMap[aminoCode], 'height' : matrix[row]['height'] } %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
