{% if test.correct %}
    {% set   color = '#5aa05a' %}
    {% set bgColor = '#ffdada' %}
{% else %}
    {% set   color = '#d45959' %}
    {% set bgColor = '#d45959' %}
{% endif %}

<div
{% if test.correct %}
    style="width: 50%; padding: 16px; text-align: center; margin-right: 4px; border-radius: 6px;
            background-color: #d0f6d0; border: 3px solid #5aa05a;"
{% else %}
    style="width: 50%; padding: 16px; text-align: center; margin-right: 4px; border-radius: 6px;
            background-color: #ffdada; border: 3px solid #d45959;"
        {% endif %}>
    <div style="margin-bottom: 12px;">
        {% if test.correct %}
            {{ 'test.answer.xIsCorrect'|trans( { '{answer}' : '<span class="answer">' ~ test.answer ~ '</span>' } )|raw }}
        {% else %}
            {% if test.answer is not empty %}
                {{ 'test.answer.xIsNotCorrect'|trans( { '{answer}' : '<span class="answer">' ~ test.answer ~ '</span>', '{amino}' : test.amino.code1 } )|raw }}<br>
            {% endif %}
            {{ 'test.answer.correctAnswerWouldHaveBeen'|trans }}:
        {% endif %}
    </div>

    <div style="background-color: #a32b2b; color: white; border-radius: 16px; width: 24px; height: 24px; float: right; display: inline-block">
        <div style="width: 22px; text-align: center">{{ test.amino.code1 }}</div>
    </div>
    <div style="font-weight: bold">{{ ('aminos.' ~ test.amino.name)|trans }}</div>
    <div style="font-size: 0.8em; margin-bottom: 8px;">{{ test.amino.code3 }}</div>
    <div style="color: #888; margin-bottom: 8px; text-align: center">{{ test.amino.formula|lower_digits|raw }}</div>
    <div>
        <img src="{{ test.amino.image(app.user.representation) }}" style="width: 100%"/>
    </div>
</div>
