<div style="background-color: #eee; border: 1px solid #ddd; width: 50%; padding: 16px; text-align: center;
    border-radius: 6px;">
    <div style="margin-top: 12px;">
        <form method="post">
            <label for="answer" style="display: inline-block; margin-bottom: 6px;">
                {{ 'test.whichAminoAcidIs'|trans( { '{amino}' : '<span style="font-weight: bold">' ~ ('aminos.' ~ test.amino.name)|trans ~ '</span>' } )|raw }}
            </label>
        </form>

        <div style="display: flex; flex-wrap: wrap; margin-top: 24px;">
            {% for a in test.choices %}
                <div style="width: 33%; min-width: 150px;">
                    <a href="#" onclick="choose({{ a.id }}); return false;">
                        <img src="{{ a.image(app.user.representation) }}" style="padding: 8px; width: 100%;"/>
                    </a>
                </div>
            {% endfor %}
        </div>

        <form method="post" id="form">
            <input type="hidden" name="amino" value="{{ test.amino.id }}"/>
            <input type="hidden" name="test" value="{{ test.id }}"/>
            <input type="hidden" name="answer" id="answer" value=""/>
        </form>

    </div>
</div>
