{% extends 'base.html.twig' %}

{% block body %}

    <div class="about">
        <div>
            <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
        </div>
        <div>
            {{ 'about.thisProjectIsOpenSourceAndUsesTheMitLicense'|trans( { '{license}': '<a href="https://mit-license.org/" target="_blank">MIT-License</a>' } )|raw }}
            {{ 'about.youCanGetTheCodeOnGitHub'|trans( { '{github}' : '<a href="https://github.com/mathiasbader/aminos" target="_blank">GitHub</a>' } )|raw }}
        </div>
        <div>
            {{ 'about.3DImagesWhereCreatedUsing'|trans( {
                '{ballview}' : '<a href="https://ball-project.org/ballview/" target="_blank">BALLView</a>',
                '{ball}' : '<a href="https://ball-project.org" target="_blank">BALL</a>' } )|raw }}<br>
            {{ 'about.flatImagesWhereCreatedAsPartOfThisProject'|trans }}
        </div>
    </div>
{% endblock %}


{% block css %}
    <style>
        .about div { margin-bottom: 22px; }
    </style>
{% endblock %}
