{% extends 'base.html.twig' %}

{% block body %}

    <div style="text-align: right;">
        <a href="{{ url('profile') }}">{% if app.user.email is null %}{{ 'profile'|trans }} {{ app.user.id }}{% else %}{{ app.user.name }}{% endif %}</a>
    </div>

    <div class="dashboard">
        <a href="{{ url('overview', { 'param' : ''}) }}" class="btn">{{ 'aminoacids'|trans }}</a><br>
        <a href="{{ url('testImgToName' ) }}" class="btn">{{ 'test.imageToName'|trans }}</a><br>
        <a href="{{ url('testNameToImg' ) }}" class="btn">{{ 'test.nameToImage'|trans }}</a><br>
        <a href="{{ url('testCodeToName') }}" class="btn">{{ 'test.CodeToName'|trans }}</a><br>
    </div>

    <a href="{{ url('about') }}">{{ 'about.link'|trans }}</a>

{% endblock %}
