{% extends 'base.html.twig' %}

{% block body %}

    <div class="dashboard">
        <a href="{{ url('overview', { 'param' : ''}) }}" class="btn">The amino acids</a><br>
        <a href="{{ url('testImgToName' ) }}" class="btn">Test: Image to name</a><br>
        <a href="{{ url('testNameToImg' ) }}" class="btn">Test: Name to image</a><br>
        <a href="{{ url('testCodeToName') }}" class="btn">Test: Code to name</a><br>
    </div>

    <a href="{{ url('about') }}">About</a>

{% endblock %}
