{% extends 'base.html.twig' %}

{% block body %}

    {% if user is null %}
        user is null
    {% else %}
        user is {{ app.user.userIdentifier }}
    {% endif %}

    <div class="dashboard">
        <a href="{{ url('overview', { 'param' : ''}) }}" class="btn">{{ 'aminoacids'|trans }}</a><br>
        <a href="{{ url('testImgToName' ) }}" class="btn">{{ 'test.imageToName'|trans }}</a><br>
        <a href="{{ url('testNameToImg' ) }}" class="btn">{{ 'test.nameToImage'|trans }}</a><br>
        <a href="{{ url('testCodeToName') }}" class="btn">{{ 'test.CodeToName'|trans }}</a><br>
    </div>

    <a href="{{ url('about') }}">{{ 'about'|trans }}</a>

{% endblock %}
