{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user.representation == 'svg' %} {% set rep = '3d'  %}
    {% else %}                                {% set rep = 'svg' %} {% endif %}

    <div class="menu">
        <a href="{{ url('profile') }}">{% if app.user.email is null %}{{ 'profile'|trans }}{% else %}{{ app.user.name }}{% endif %}</a>
        <a href="{{ url('index', { 'representation' : rep}) }}">{{ ('models.' ~ rep)|trans }}</a>
    </div>

    <a href="{{ url('testOverview') }}" style="display: inline-block; text-align: center;
    margin-bottom: 12px;">
        <div style="width: 226px">
            {% include 'default/svg/testTubes/tubes.html.twig' %}
        </div>
        <div style="margin-top: -4px">
            {{ 'testYourself'|trans }}
        </div>
    </a>

    <div>
        {% include 'lib/_functionalGroup.html.twig' with {
            'rows'    : ['nonPolar1', 'nonPolar2'],
            'name'    : 'sideChains.nonPolar',
            'bgColor' : '#dcecdf',
        } %}
        {% include 'lib/_functionalGroup.html.twig' with {
            'rows'    : ['polar'],
            'name'    : 'sideChains.polar',
            'bgColor' : '#f6ecd9',
        } %}
        {% include 'lib/_functionalGroup.html.twig' with {
            'rows'     : ['electrically'],
            'name'     : 'sideChains.electricallyCharged',
            'bgColor'  : '#f7e6e5',
            'bgColor2' : '#e4f1f8',
        } %}
    </div>

{% endblock %}
