{% extends 'base.html.twig' %}

{% block body %}

    <div class="dashboard">
        <a href="{{ url('overview', { 'param' : ''}) }}" class="btn">The a  mino acids</a><br>
        <a href="{{ url('imgToName' ) }}" class="btn">Test: Image to name</a><br>
        <a href="{{ url('nameToImg' ) }}" class="btn">Test: Name to image</a><br>
        <a href="{{ url('codeToName') }}" class="btn">Test: Code to name</a><br>
    </div>

    <a href="{{ url('about') }}">About</a>

{% endblock %}
