{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">Back</a>
    </div>

    <div style="display: flex; flex-wrap: wrap; margin-bottom: 12px;">
        {% for amino in aminos %}

            <div style="border: 1px solid #ddd; width: 140px; background-color: #eee; margin: 0 6px 6px 0;
            padding: 8px;">
                <div style="background-color: #a32b2b; color: white; border-radius: 16px; width: 24px; height: 24px; float: right; display: inline-block">
                    <div style="width: 22px; text-align: center">{{ amino.code1 }}</div>
                </div>
                <div style="font-weight: bold">{{ amino.name }}</div>
                <div style="font-size: 0.8em; margin-bottom: 8px;">{{ amino.code3 }}</div>
                <div style="color: #888; margin-bottom: 8px; text-align: center">{{ amino.formula|lower_digits|raw }}</div>
                {% if amino.essential != '0' %}
                    <div style="color: #888; font-size: 0.85rem; margin-bottom: 8px; text-align: center">
                        {% if amino.essential == '1' %}essential{% elseif amino.essential == '2' %}semiessential{% endif %}
                    </div>
                {% endif %}
                <div style="text-align: center">
                    <img src="{{ amino.imageSmall }}"/>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
