{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>

    <h4>{{ 'language'|trans }}</h4>
    <div>
        <a href="{{ url('lang', { 'lang' : 'en' }) }}" class="btn{% if app.request.locale == 'en' %} active{% endif %}">English</a>
        <a href="{{ url('lang', { 'lang' : 'es' }) }}" class="btn{% if app.request.locale == 'es' %} active{% endif %}">Español</a>
        <a href="{{ url('lang', { 'lang' : 'de' }) }}" class="btn{% if app.request.locale == 'de' %} active{% endif %}">Deutsch</a><br><br>
    </div>

    {% if app.user.email is not null %}
        <h4>{{ 'yourAccount'|trans }}</h4>
        <div>
            <span style="font-weight: bold">{{ app.user.name }}</span><br>
            {{ app.user.email }}<br><br>

            <a href="{{ url('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div style="display: flex">
            <div style="width: 50%; padding-right: 12px;" id="registration">
                <h4>{{ 'registration'|trans }}</h4>
                <div>
                    {{ 'profile.accountNotYetClaimed'|trans }}
                    {{ 'profile.toSafeProgressClaimWithEmail'|trans }}
                </div><br>

                <form action="{{ url('profile') }}" method="post">
                    <label for="email">{{ 'email'|trans }}:</label><br>
                    <input type="email" name="email" id="email" value="{{ app.user.email }}"/><br>
                    <div style="text-align: right;">
                        <a href="#" onclick="
                            document.getElementById('registration').style.display = 'none';
                            document.getElementById('login'       ).style.display = 'block';
                        " style="margin-right: 24px;">{{ 'toTheLogin'|trans }}</a>
                        <input type="submit" class="btn" style="width: auto;" value="{{ 'claimAccount'|trans }}"/>
                    </div>
                </form>
            </div>
            <div style="width: 50%; padding-right: 12px; display: none;" id="login">
                <h4>{{ 'login'|trans }}</h4>
                <div>
                    {{ 'profile.ifYouAlreadyHaveAnAccountYouCanLoginHere'|trans }}
                </div><br>

                <form action="{{ url('profile') }}" method="post">
                    <label for="email">{{ 'email'|trans }}:</label><br>
                    <input type="email" name="email" id="email" value="{{ app.user.email }}"/><br><br>
                    <label for="password">{{ 'password'|trans }}:</label><br>
                    <input type="password" name="password" id="password"/><br>
                    <div style="text-align: right;">
                        <a href="#" onclick="
                            document.getElementById('login'       ).style.display = 'none';
                            document.getElementById('registration').style.display = 'block';
                        " style="margin-right: 24px;">{{ 'toTheRegistration'|trans }}</a>
                        <input type="submit" class="btn" style="width: auto;" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
