{% extends 'base.html.twig' %}

{% set lastTest = run.lastCompletedTest %}
{% set test = run.firstUncompletedTest %}

{% block bodyParam %} onLoad="document.getElementById('answer').focus();"{% endblock %}

{% block body %}

    <div>
        {% include 'lib/_test_progress.html.twig' %}
        <div style="display: flex;">
            {% include 'lib/_test_answer.html.twig' with { 'test' : lastTest } %}
            {% if run.finished %}
                <div style="width: 50%;">
                    <div style="text-align: center; padding: 24px;">
                        <span style="font-size: 0.85rem;">{{ 'yourScore'|trans }}:</span><br>
                        <span style="font-size: 2rem; margin-top: 12px;
                        display: inline-block">{{ run.score }} %</span>
                    </div>
                    <a href="{{ url('index') }}" style="display: block; padding: 84px 24px; text-align: center;
                    color: #666;background-color: #eee; border-radius: 6px;">{{ 'continue'|trans }}</a>
                </div>
            {% else %}
                {% include 'lib/_test_question.html.twig' with { 'test' : test } %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <div style="text-align: right; margin-top: 12px;">
        <a href="{{ url('testOverview') }}" style="margin-right: 24px; color: #aaa">{{ 'back'|trans }}</a>
        <a href="{{ url('test', { 'runId' : run.id, 'action' : 'stop' } ) }}" style="color: #aaa">{{ 'stopRun'|trans }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {% if not run.finished %}
        <script type="text/javascript">
            function choose(aminoId) {
                document.getElementById('answer').value = aminoId;
                document.getElementById('form').submit();
            }
        </script>
    {% endif %}
{% endblock %}
