{% extends 'base.html.twig' %}

{% block bodyParam %} onLoad="document.getElementById('answer').focus();"{% endblock %}

{% block body %}

    <div style="margin-bottom: 12px;">
        <a href="{{ url('index') }}">{{ 'back'|trans }}</a>
    </div>

    <div id="testOverview">
        {% if activeRun is not null %}
            <a href="{{ url('test', { 'runId' : activeRun.id } ) }}" class="highlight">
                <div>
                    {{ 'continueActiveTest'|trans }}
                </div>
            </a><br>
        {% endif %}
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR_1'  )} ) }}">
            <div>
                {{ 'testGroup.unpolar'|trans }} 1
            </div>
        </a>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR_2'  )} ) }}">
            <div>
                {{ 'testGroup.unpolar'|trans }} 2
            </div>
        </a>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_NOT_POLAR'    )} ) }}">
            <div>
                {{ 'testGroup.unpolar'|trans }} 1 + 2
            </div>
        </a><br>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_POLAR'        )} ) }}">
            <div>
                {{ 'testGroup.polar'|trans }}
            </div>
        </a>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_CHARGED'      )} ) }}">
            <div>
                {{ 'testGroup.charged'|trans }}
            </div>
        </a>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_POLAR_CHARGED')} ) }}">
            <div>
                {{ 'testGroup.polar'|trans }} + {{ 'testGroup.charged'|trans }}
            </div>
        </a><br>
        <a href="{{ url('testStart', { 'group' : constant('App\\Constant\\GroupType::GROUP_ALL'          )} ) }}">
            <div>
                {{ 'testGroup.all'|trans }}
            </div>
        </a>
    </div>

{% endblock %}
