<!DOCTYPE html>
<!--
  ______               __                                     __       __
 /      \             |  \                                   |  \     |  \
|  ▓▓▓▓▓▓\______ ____  \▓▓_______   ______   ______   _______ \▓▓ ____| ▓▓ _______
| ▓▓__| ▓▓      \    \|  \       \ /      \ |      \ /       \  \/      ▓▓/       \
| ▓▓    ▓▓ ▓▓▓▓▓▓\▓▓▓▓\ ▓▓ ▓▓▓▓▓▓▓\  ▓▓▓▓▓▓\ \▓▓▓▓▓▓\  ▓▓▓▓▓▓▓ ▓▓  ▓▓▓▓▓▓▓  ▓▓▓▓▓▓▓
| ▓▓▓▓▓▓▓▓ ▓▓ | ▓▓ | ▓▓ ▓▓ ▓▓  | ▓▓ ▓▓  | ▓▓/      ▓▓ ▓▓     | ▓▓ ▓▓  | ▓▓\▓▓    \
| ▓▓  | ▓▓ ▓▓ | ▓▓ | ▓▓ ▓▓ ▓▓  | ▓▓ ▓▓__/ ▓▓  ▓▓▓▓▓▓▓ ▓▓_____| ▓▓ ▓▓__| ▓▓_\▓▓▓▓▓▓\
| ▓▓  | ▓▓ ▓▓ | ▓▓ | ▓▓ ▓▓ ▓▓  | ▓▓\▓▓    ▓▓\▓▓    ▓▓\▓▓     \ ▓▓\▓▓    ▓▓       ▓▓
 \▓▓   \▓▓\▓▓  \▓▓  \▓▓\▓▓\▓▓   \▓▓ \▓▓▓▓▓▓  \▓▓▓▓▓▓▓ \▓▓▓▓▓▓▓\▓▓ \▓▓▓▓▓▓▓\▓▓▓▓▓▓▓
  This project ist open source
  Get the complete source at https://github.com/mathiasbader/aminos
-->
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% if pageTitle is defined %}{{ pageTitle }}{% else %}Aminos{% endif %}{% endblock %}</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    {% block css %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body{% block bodyParam %}{% endblock %}>
<main>
    <h2>{{ pageTitle }}</h2>

    <div style="text-align: right;">
        {% if app.request.get('_route') != 'app_login' %}
            {% if app.user %}
                {{ app.user.username }}
                <a href="{{ url('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ url('app_login') }}">Login</a>
            {% endif %}
        {% else %}
            <a href="{{ url('index') }}">Home</a>
        {% endif %}
    </div>

    {% block body %}{% endblock %}

</main>
</body>
</html>
