<!DOCTYPE html>
<!--
    {{ include('lib/_ascii.html.twig') }}
    {{ 'sourceCode.thisProjectIsOpenSource'|trans }}
    {{ 'sourceCode.getTheSourceAt'|trans( { '{url}' : 'https://github.com/mathiasbader/aminos' } ) }}

-->
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}{{ 'aminoacids'|trans }}{% endblock %}</title>

    <link href="{{ asset('css/main.css') }}?v=1" rel="stylesheet"/>
    {% block css %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body{% block bodyParam %}{% endblock %}>
<main>
    <h2>{% if pageTitle is defined %}{{ pageTitle }}{% else %}{{ 'aminoacids'|trans }}{% endif %}</h2>

    {% block body %}{% endblock %}

</main>
</body>
</html>
